body{
font-family: Arial;
background:#f2f2f2;
text-align:center;
}

.container{
background:white;
padding:20px;
width:350px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
width:90%;
padding:8px;
margin:5px;
}

button{
padding:8px 15px;
background:#28a745;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#218838;
}

li{
list-style:none;
padding:10px;
margin:5px;
background:#eee;
display:flex;
justify-content:space-between;
}

.completed{
text-decoration:line-through;
color:gray;
}

.delete{
background:red;
color:white;
border:none;
padding:5px;
cursor:pointer;
}

.counter{
margin-top:20px;
}